<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.koreait.board.mappers.BoardMapper">
    <insert id="register" useGeneratedKeys="true" keyProperty="seq">
        INSERT INTO board (email, title, content)
        VALUES (#{email}, #{title}, #{content}
    </insert>

    <update id="update">
        UPDATE BOARD
        <set>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
        </set>
        <where>
            seq = #{seq}
        </where>
    </update>
    <delete id="delete">
        DELETE FROM BOARD WHERE seq=#{seq}
    </delete>

    <select id="get">
        SELECT * FROM BOARD WHERE seq=#{seq}
    </select>

    <select id="getList">
        SELECT b.*, m.name, m.email FROM BOARD b
        LEFT JOIN member m ON b.memberSeq = m.seq
        <where>
            <if test="skey != null">
                <bind name="keyword" value="'%' + _parameter.getSkey() + '%'" />
                <if test="sopt == 'email'">
                    email LIKE #{keyword}
                </if>
                <if test="sopt == 'title'">
                    AND title LIKE #{keyword}
                </if>
                <if test="sopt == 'content'">
                    AND content LIKE #{keyword}
                </if>
                <if test="sopt == null">
                    CONCAT(poster, subject, content) LIKE #{keyword}
                </if>
            </if>
        </where>
        ORDER BY regDt DESC LIMIT #{offset}, #{limit}
    </select>

</mapper>